---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      {% if post.thumb_small %}
      <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{ post.thumb_small }}" alt="{{ post.title }}">
      </a>
	  {% elsif post.thumb %}
	  <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{ post.thumb }}" alt="{{ post.title }}">
      </a>
      {% endif %}

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Продолжить чтение</a>
    </article>
  {% endfor %}
</div>
